$primary: #587de7;
$primary-hover: #2e43c7  ;
// tamaño
$widthLeftMenu: 200px;

//text
$text-light:#ceced0;

//Background
$background-dark:#1c224f;
$background-blue:#587de7;
$background-dark-web:#1e4877;

// Border
$border-blue:#9cbbf4;

//status
$success:#84b84c;
$error:#852f58;

//social Color
$youtube:#2b39a2;
$twitter:#2b39a2;
$facebook:#2b39a2;
$linkedin:#2b39a2;